.vs/*
Binaries/*
Config/*
!Config/DefaultEngine.ini
!/Config/DefaultInput.ini
!/Config/DefaultGame.ini
DerivedDataCache/*
Intermediate/*
Saved/*
Content/Proprietary/*


Plugins/PBCharacterMovement/Binaries/*
Plugins/PBCharacterMovement/Intermediate/*